@import 'tailwindcss' prefix(ms);

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: 'musea-light', 'musea-dark';
  root: '#musea-app';
}

@plugin "daisyui/theme" {
  name: 'musea-light';
  default: true;
  root: '#musea-app';
  prefersdark: false;
  color-scheme: light;
  --root-bg: #ffffff;
  --color-base-100: #ffffff;
  --color-base-200: #f4f4f5;
  --color-base-300: #e4e4e7;
  --color-base-content: oklch(25% 0 0);
  --color-primary: #e2588d;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(35% 0 0);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(35% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(35% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(59.042% 0.21374 266.065);
  --color-info-content: oklch(89.04% 0.062 264.052);
  --color-success: oklch(0.696 0.177 162.5);
  --color-success-content: oklch(90.395% 0.035 142.495);
  --color-warning: oklch(0.769 0.141 70.1);
  --color-warning-content: oklch(90.395% 0.035 142.495);
  --color-error: oklch(65.446% 0.16845 22.062);
  --color-error-content: oklch(90.395% 0.035 142.495);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
  --selection-background: rgba(226, 88, 141, 0.8);
  --selection-color: oklch(100% 0 0);
  --header-height: 100px;
}

@plugin "daisyui/theme" {
  name: 'musea-dark';
  default: false;
  root: '#musea-app';
  prefersdark: true;
  color-scheme: dark;
  --root-bg: #09090b;
  --color-base-100: #09090b;
  --color-base-200: #141415;
  --color-base-300: #202022;
  --color-base-content: oklch(87.609% 0 0);
  --color-primary: #e2588d;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(35% 0 0);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(35% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(35% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(59.042% 0.21374 266.065);
  --color-info-content: oklch(89.04% 0.062 264.052);
  --color-success: oklch(0.696 0.177 162.5);
  --color-success-content: oklch(90.395% 0.035 142.495);
  --color-warning: oklch(0.769 0.141 70.1);
  --color-warning-content: oklch(90.395% 0.035 142.495);
  --color-error: oklch(65.446% 0.16845 22.062);
  --color-error-content: oklch(90.395% 0.035 142.495);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
  --selection-background: rgba(226, 88, 141, 0.6);
  --selection-color: oklch(90% 0 0);
  --header-height: 100px;
}

@layer base {
  /* ::selection {
    background-color: var(--selection-background);
    color: var(--selection-color);
  } */

  /* 兼容火狐浏览器 */
  /* ::-moz-selection {
    background-color: var(--selection-background);
    color: var(--selection-color);
  } */

  [data-theme='musea-dark'] {
    color-scheme: dark;
  }

  [data-theme='musea-light'] {
    color-scheme: light;
  }

  #musea-app .shiki,
  #musea-app .shiki span {
    background-color: var(--color-base-100) !important;
  }

  #musea-app [data-theme='musea-dark'] .shiki,
  #musea-app [data-theme='musea-dark'] .shiki span {
    color: var(--shiki-dark) !important;
    /* background-color: var(--shiki-dark-bg) !important; */
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

@utility size-screen {
  @apply ms:w-screen ms:h-screen;
}

@utility text-md {
  font-size: 16px;
}

@utility h-header {
  height: var(--header-height);
}

@utility h-content {
  /* On mobile: 100vh - RootLayout Header (56px) - ArtTab Header (var(--header-height)) */
  height: calc(100dvh - var(--header-height) - 56px);

  /* On desktop (lg): 100vh - ArtTab Header (var(--header-height)) */
  @media (min-width: 1024px) {
    height: calc(100dvh - var(--header-height));
  }
}

@utility top-content {
  top: var(--header-height);
}

@theme {
  --animate-pop-in: popIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  @keyframes popIn {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

#musea-app .md-body {
  @apply ms:text-base-content ms:leading-relaxed ms:text-sm ms:sm:text-base;
}

#musea-app .md-body h1 {
  @apply ms:text-2xl ms:font-bold ms:mb-6 ms:pb-2 ms:border-b ms:border-base-300 ms:text-primary ms:mt-4;
}

#musea-app .md-body h2 {
  @apply ms:text-xl ms:font-bold ms:mb-4 ms:mt-8 ms:pb-1 ms:border-b ms:border-base-200;
}

#musea-app .md-body h3 {
  @apply ms:text-lg ms:font-bold ms:mb-3 ms:mt-6;
}

#musea-app .md-body h4 {
  @apply ms:text-base ms:font-bold ms:mb-2 ms:mt-5;
}

#musea-app .md-body p {
  @apply ms:mb-4;
}

#musea-app .md-body a {
  @apply ms:link ms:link-primary ms:no-underline ms:hover:underline;
}

#musea-app .md-body blockquote {
  @apply ms:border-l-4 ms:border-primary ms:bg-base-200/50 ms:px-4 ms:py-3 ms:my-5 ms:italic;
}

#musea-app .md-body blockquote > p:last-child {
  @apply ms:mb-0;
}

#musea-app .md-body blockquote > *:last-child {
  @apply ms:mb-0;
}

#musea-app .md-body ul {
  @apply ms:list-disc ms:list-inside ms:mb-4 ms:space-y-1.5;
}

#musea-app .md-body ol {
  @apply ms:list-decimal ms:list-inside ms:mb-4 ms:space-y-1.5;
}

#musea-app .md-body pre {
  @apply ms:rounded-xl ms:p-3 ms:overflow-auto ms:border ms:border-base-200;
}

#musea-app .md-body .table-wrapper {
  @apply ms:my-6 ms:overflow-x-auto ms:w-full;
}

#musea-app .md-body table {
  @apply ms:table ms:min-w-200 ms:w-full ms:rounded-box ms:border ms:border-base-content/5 ms:bg-base-100;
}

#musea-app .md-body table thead tr {
  @apply ms:text-base-content ms:text-[11px] ms:uppercase ms:tracking-widest;
}

#musea-app .md-body table tbody tr {
  @apply ms:hover:bg-base-200/50 ms:transition-colors;
}

#musea-app .md-body img {
  @apply ms:max-w-full ms:h-auto;
}

#musea-app .md-body hr {
  @apply ms:my-4 ms:border-base-300;
}

#musea-app .md-body .task-list-item {
  @apply ms:list-none ms:flex ms:items-center ms:gap-3;
}

#musea-app .md-body .task-list-item input[type='checkbox'] {
  @apply ms:checkbox ms:checkbox-primary ms:checkbox-sm ms:rounded-md;
}

#musea-app .md-body .task-list-item input[disabled] {
  @apply ms:opacity-100 ms:cursor-default;
}

#musea-app .md-body art {
  @apply ms:grid ms:xl:grid-cols-3 ms:grid-cols-1 ms:gap-4;
}

#musea-app .md-body art::before {
  content: attr(title) ' Variants';
  @apply ms:order-1 ms:text-2xl ms:font-black ms:xl:col-span-4 ms:col-span-1;
}

#musea-app .md-body art::after {
  content: attr(description);
  @apply ms:order-2 ms:text-accent ms:xl:col-span-4 ms:col-span-1 ms:-mt-4;
}

#musea-app .md-body art variant {
  @apply ms:order-3 ms:grid ms:bg-base-100 ms:p-6 ms:rounded-xl ms:border ms:border-base-300;
}

#musea-app .md-body art variant::before {
  content: attr(name);
  @apply ms:order-1 ms:text-xs ms:font-bold ms:uppercase ms:tracking-widest;
}

#musea-app .md-body art variant::after {
  content: attr(description) '';
  @apply ms:order-2 ms:text-xs ms:tracking-widest ms:mb-4 ms:text-accent;
}

#musea-app .md-body art variant * {
  @apply ms:order-4;
}
